.navbar  {
    background-color: #011936;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
}

.nav {
    color: #FFFFFF;
}


nav .navbar-nav li a{
    color: #FFFFFF !important;
}

